# ROS 2 colcon build artifacts
build/
install/
log/

# training data (images)

training_data/original_data/*

!training_data/original_data/.gitkeep

training_data/sorted_data/black/*
training_data/sorted_data/white/*
training_data/sorted_data/empty/*

!training_data/sorted_data/black/.gitkeep
!training_data/sorted_data/white/.gitkeep
!training_data/sorted_data/empty/.gitkeep

training_data/aug_data/black/*
training_data/aug_data/white/*
training_data/aug_data/empty/*

!training_data/aug_data/black/.gitkeep
!training_data/aug_data/white/.gitkeep
!training_data/aug_data/empty/.gitkeep

# Python cache
venv
__pycache__/
*.pyc
*.pyo

# Editor/IDE files
.vscode/
.idea/
*.swp

# macOS and Linux system files
.DS_Store

